/* Developer Style Guide
    In addition to the requirements listed above, please ensure that your project also contains the following according to our style guide:

    For every lab within this project, you will be creating a new branch for every day. Create a new branch name that follows the following format class##-feature (example: class06-Objects).

    Within your local version of your repo, add your .gitignore and .eslintrc.json.

    While working within your non-main branch, conduct regular commits within git.

    All properties/values and methods should be correctly constructed and given meaningful names.

    Functions and methods should follow the single-responsibility principle.

    Use template literals in your JS logic to render the stores as lists on the sales page
*/

body {
    background-color: skyblue;
    border: 0;
    color: seagreen;
    font: inherit;
    font-size: 100%;
    margin: auto;
    vertical-align: baseline;
    width: 800px;
}

h1 {
    color: salmon;
    font-family: "Cookie", cursive;
    font-size: 6em;
    font-weight: bold;
    margin: auto;
    padding: 10px
}

h2 {
    font-family: "Cookie", cursive;
    font-size: 4em;
    font-weight: bold;
    margin: auto;
    padding: 10px
}

h3 {
    font-size: 2em;
    font-weight: bold;
    margin: auto;
    padding: 10px
}

h4 {
    font-size: 1em;
    font-weight: bold;
    margin: auto;
    padding: 10px
}

p {
    padding: 10px
}

strong, b {
    font-weight: bold
}

li{
    color: salmon;
    font-weight: bold;

}

img {
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 1px solid salmon;
}
a:link,
a:visited {
    /*inspired by W3Schools*/
    border: 2px solid salmon;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

a:hover,
a:active {
    background-color: seagreen;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}